body{
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
}


.full-wraper{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: #f8f7f7;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Trade Gothic LT Std', sans-serif;
}

.login-illustration img{
    width: 500px;
    height: 500px;
}

.tout{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    background-color: white;
}

.main-text {
    width: 400px;
    padding: 30px;
}


.main-text h2 {
    font-weight: bold;
    font-family: 'Trade Gothic LT Std', sans-serif;
    color:  #C3B1E1;
}

.main-connexion-password, .main-connexion-username {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 7px;
}

.main-connexion-submit {
    background-color:  #C3B1E1;
    color: black;
    font-weight: bold;
    font-family: 'Trade Gothic LT Std', sans-serif;
    text-transform: uppercase;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    width: 100%;
    transition: 0.3s;
}


.main-connexion-submit:hover {
    transform: scale(1.1);
    color: orange;
    cursor: pointer;
}

.register{
    font-size: 15px;
    color:  #C3B1E1;
    transition: 0.2s;
    color: gray;
    margin-bottom: 40px;
    margin-top: -30px;
}

.register a{
    color:  purple;
    text-decoration: none;
}


.register a:hover{
    transform: scale(1.1);
    color: orange;
    cursor: pointer;
}